
html {
  background-color: #CCCCCC;
}

h1 {
  text-align: center;
  font-family: arial;
  font-size: 50px
}

h4 {
  text-align: center;
  font-family: arial;

}

p {
  font-family: arial;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

tr, td {
  padding: 7px;
  margin: 0px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: arial;
  width: 400px;
  height: 90px;
  background: white;
}

td.name {
  width:70px;
  font-weight: bold
}

td.example {
  font-family: Courier;
  color: green;
  font-weight: bold;
  width:500px
}

td.output {
  font-family: Courier;
  color: red;
  font-weight: bold;
  width: 120px
}


th {
  font-size: 20px;

}