div, ul, li , h1, h2, h3, img {
	margin: 0;
	padding: 0;
}

div {
	border: 1px solid black;
}

span.header {
	line-height:75px;
	vertical-align: middle;
	padding-left: 20px
}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

#header {
	height:75px;
	width:100%;
	padding: 0 0px;
	font-family: Rockwell Extra Bold;
	font-size: 1.5em;
}

#nav-bar {
	margin: 0 auto;
	height: 25px;
	width: 90%;
}

#nav-bar ul {
	list-style-type: square;
	width: 90%;
	text-align: center;
	margin: 0 auto;
	display: table;
}

#nav-bar ul li {
	font-family: Rockwell;
	display: table-cell;
	border: 1px solid black;
	width: 15%;
	vertical-align: middle;
	line-height: 25px
}

#content {
	width: 75%;
	float: left;
	padding: 20px;
	
}

#content p.date {
	font-size: 14px;
	font-weight: bold;
}

#sidebar {
	width: 20%;
	float: right;
	list-style: none;
}

#sidebar ul {
	list-style-type: none;
}

