div, ul, li , h1, h2, h3, img {
	margin: 0;
	padding: 0;
}

div {
	border: 1px solid black;
}

#wrapper {
	max-width: 900px;
	margin: 0 auto;
}

#header {
	height:75px;
	width:100%;
}

#nav-bar {
	margin: 0 auto;
	height: 25px;
	width: 80%;
}

#nav-bar ul {
	list-style-type: square;
	width: 80%;
}

#nav-bar ul li {
	display: inline;
	padding: 0 auto;
	margin: 0 10px;
}

#content {
	width: 73%;
	float: left;
	
}

#content p.date {
	font-size: 14px;
	font-weight: bold;
}

#sidebar {
	width: 23%;
	float: right;
}